* {
    margin: 0;
    padding: 0;
    font-family: cursive;

}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}


#header a img {
    height: 90px;
    width: 90px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e4afaf;
    padding: 10px 80px;
    position: sticky;
    top: 0;
    z-index: 999;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}


#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;

}

#navbar li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
    transition: 0.3s ease;
    /* it is used for adding a smoothness*/
}

#navbar li a:hover,
#navbar li a.active {
    /*#navbar li a.active it is used because to adding konwing the active page */
    color:rgb(94, 108, 187);
}

/*it is used to construct the underline in a navbar item when we hover it*/

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    background: rgb(139, 151, 223);
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}


#hero {
    background-image: url(./picture/gymHero.webp);
    height: 100vh;
    /* width: 89.5%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 30% left 0;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


#hero h1 {
    padding: 10px;
    color: aquamarine;
}

#hero p {
    padding: 10px;
    color: aquamarine;
}

#hero h2 {
    padding: 10px;
    color: aquamarine;
}

#hero button {
    border: 0px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 800;
    padding: 10px 20px;
    cursor: pointer;
}

#hero button:hover {
    background-color: cornflowerblue;
    font-size: 18px;
}



#hero button a {
    text-decoration: none;
    color: black;
}

.bar {
    border: 7px solid rgb(181, 176, 222);
}

.enter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enter h2 {
    font-size: 30px;
    padding: 10px;
    color: red;
    font-weight: 600;
}

.enter p {
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    gap: 50px;
    text-align: center;
}

#feature img {
    height: auto;
    width: 450px;
}

#advantage {
    background-color: black;
    color: white;

}

#advantage>h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    padding: 20px;
    font-size: 50px;
    font-weight: 700;
}

.about>h2 {
    color: rgb(112, 187, 253);
}

.about>h2,
p {
    padding: 10px;
    margin: 10px;

}

.about>p {
    /* width: 45%; */
    box-sizing: border-box;
    font-size: 20px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content:  space-evenly;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

footer .col img {
    height: 100px;
    width: 100px;
}

footer .col h4 {
    font-size: 20px;
}

footer .col p {
    font-size: 20px;
    margin: 0 0 8px 0;
}

footer .follow {
    margin-top: 20px;
}

footer .icons {
    margin-top: 10px;
    font-size: 20px;
    padding: 5px 0;
}

footer .icons i:hover {
    color: rgb(181, 195, 224);
}

#foot a{
    text-decoration: none;
    color: #222;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
}
/* Adding media query for makeing the page responsive */
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top:0;
        right: -300px;
        height: 100vh;
        width: 200px;
        background-color: #b1a1a1;
        box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0px 0px 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 10px;
    }

    #mobile {
        display: flex;
    }

    #mobile i {
        color: black;
        font-size: 15px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }


    #hero {
        height: 70vh;
        padding: 0px 80px;
        background-position: top 40% right 30%;
        font-size: 12px;
        font-weight: lighter;
    }

    .enter {
        display: flex;
        justify-content: start;
    }

    #feature {
        justify-content: center;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
    }
    footer .col{
        margin-top: 10px;
    }
}

@media (max-width:477px) {
    .section-p1{
        padding: 20px;
    }

    #header { 
        background-color: #e4afaf;
        padding: 5px 30px;     
    }
    #hero {
  
        padding: 0px 30px;
        background-position: 50%;
       
    }
    h1{
        font-size: 15px;
    }
    h2{
        font-size: 12px;
    }
    #hero button {
        font-size: 13px;
        padding: 7px 13px;
       
    }
    #feature {
        justify-content: center;
        width: 250px;

    }
}